.container {
  padding: 0 2rem;
}
.scrollTop{
  position: fixed;
  bottom: 3rem;
  z-index: 1000;
  right: 2rem;
  font-size: 40px;
}
.white {
  background-color: #f6ffff;
}

.link{
  cursor: pointer;
}
.link:hover{
  text-decoration: underline;
}
.footerText{
  color: #858681;
  font-size: 12px;
}

.button {
  padding: 1rem;
  text-align: center;
}

.subtitle{
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 2rem;
}

.main {
  position: relative;
}
.header {
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: #1599ff;
  padding: 1rem 2rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.mainInner {
  min-height: 100vh;
  margin-top: 4rem;
  padding: 2rem 7rem;
}
@media (max-width: 64em) {
  .mainInner{
    padding: 2rem 4rem;
  }
}

.footer {
  padding: 1rem;
  height: fit-content;
  background-color: black;
  color: white;
}