.articleHeader{
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 1rem;
}

.articleContainer{
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 64em) {
    .articleContainer{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
.articleShares{
    flex: 1;
    margin-right: 2rem;
    margin-top: 3rem;
}
@media (max-width: 64em) {
    .articleShares{
        margin-right: 0;
    }
}

.articleContent{
    flex: 5;
    padding: 3rem 0;
}

.groupButtons{
    display: flex;
    margin-top: 2rem;
}
@media (max-width: 64em) {
    .groupButtons{
        flex-direction: column;
    }
    .groupButtons button:first-of-type{
        margin-right: 0 !important;
        margin-bottom: 1rem;
    }
}
.groupButtons button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    color: #8e8c84;
    background-color: #ececec;
    cursor: pointer;
}
.groupButtons button:first-of-type{
    margin-right: 1rem;
}
.groupButtons .green{
    background-color: #1aa858;
    color: white;
}

.groupButtons .icon{
    vertical-align: top;
    margin-right: 10px;
}

.commentsContainer{
    margin: 2rem 0;
}